.alldata-section {
  display: flex;
  flex-direction: column;
}
.products {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.product-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 50px 20px 20px 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-title .btn {
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
}
.product-title.btn:hover {
  background: #0097e6;
}
@media screen and (max-width: 1150px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
