.ant-card-cover img{
  height: 165px;
}
.category-ant .ant-card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-ant{
  width: 230px;
  height: 230p;
}
@media screen and (max-width: 1150px) {
  .category-ant .ant-card-cover img{
    height: 100px;
    width: 150px;
  }
  .category-ant{
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
    display: flex;
  }
  .category-ant .ant-card-meta-title{
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    font-size: 15px;
  }
}